<body class="company">

<div id="container">

<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">

	<h1 class="logo"><a href="index.html"><img src="/logo1.png" alt="SAMPLE SITE"></a></h1>

	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu1"><a href="/"><span>Home</span></a></li>
	<li class="menuimg menu2"><a href="/about"><span>About</span></a></li>
	<li class="menuimg menu3 current"><a href="/member"><span>Members</span></a></li>
	<li class="menuimg menu4"><a href="link.html"><span>Links</span></a></li>
	<li class="menuimg menu5"><a href="contact.html"><span>Contact</span></a></li>
	</ul>
	</nav>
	<ul class="icon">
	<li><a href="#"><img src="/icon_facebook.png" alt="Facebook"></a></li>
	<li><a href="#"><img src="/icon_twitter.png" alt="Twitter"></a></li>
	<li><a href="#"><img src="/icon_instagram.png" alt="Instagram"></a></li>
	<li><a href="#"><img src="/icon_youtube.png" alt="YouTube"></a></li>
	</ul>

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">

	<h1 class="logo"><a href="index.html"><img src="/logo1.png" alt="SAMPLE SITE"></a></h1>

	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
<ul>
	<li class="menuimg menu1"><a href="/"><span>Home</span></a></li>
	<li class="menuimg menu2"><a href="/about"><span>About us</span></a></li>
	<li class="menuimg menu3 current"><a href="/member"><span>Members</span></a></li>
	<li class="menuimg menu4"><a href="link.html"><span>Links</span></a></li>
	<li class="menuimg menu5"><a href="contact.html"><span>Contact</span></a></li>
	</ul>
	</nav>
	<ul class="icon">
	<li><img src="/icon_facebook.png"></li>
	<li><a href="#"><img src="/icon_twitter.png" alt="Twitter"></a></li>
	<li><a href="#"><img src="/icon_instagram.png" alt="Instagram"></a></li>
	<li><a href="#"><img src="/icon_youtube.png" alt="YouTube"></a></li>
	</ul>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->

<div id="contents">

<div id="main">

<span id="pagetop"></span>

<section class="box">

<h2 class="title">Member<span>部員紹介</span></h2>

<table class="ta1">

<tr>
<th>部名</th>
<td>愛媛大学本学バドミントン部</td>
</tr>
<tr>
<th>部員数</th>
<td>男子10名，女子10名</td>
</tr>
<tr>
<th>活動日・時間</th>
<td>火，水，金18:00~22:00<br>土，日13:00~17:00<br>日によって変更になることがあります．</td>
</tr>
<tr>
<tr>
<th>活動場所</th>
<td>愛媛大学・第二体育館</td>
</tr>
</table>


</section>

<section>


<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#main-->

</div>
<!--/#contents-->

</div>
<!--/#container-->
