<body class="works">

<div id="container">

<!--PC用（801px以上端末）で表示させるブロック-->
<header class="pc">
	<!--PC用（801px以上端末）メニュー-->
	<nav id="menubar">
	<ul>
	<li class="menuimg menu1"><a href="/"><span>Home</span></a></li>
	<li class="menuimg menu2"><a href="/about"><span>About us</span></a></li>
	<li class="menuimg menu3"><a href="/result"><span>Results</span></a></li>
	<li class="menuimg menu3 current"><a href="/posts"><span>News</span></a></li>
	<li class="menuimg menu4"><a href="/link"><span>Links</span></a></li>
	<li class="menuimg menu5"><a href="/contact"><span>Contact</span></a></li>
	</ul>
	</nav>
	

</header>
<!--/.pc-->

<!--小さな端末用（800px以下端末）で表示させるブロック-->
<header class="sh">
	<!--小さな端末用（800px以下端末）メニュー-->
	<div id="menubar-s">
	<nav>
<ul>
	<li class="menuimg menu1 current"><a href="/"><span>Home</span></a></li>
	<li class="menuimg menu2"><a href="/about"><span>About us</span></a></li>
	<li class="menuimg menu3"><a href="/result"><span>Results</span></a></li>
	<li class="menuimg menu3 current"><a href="/posts"><span>News</span></a></li>
	<li class="menuimg menu4"><a href="/link"><span>Links</span></a></li>
	<li class="menuimg menu5"><a href="/contact"><span>Contact</span></a></li>
	</ul>
	</nav>
	
	</div>
	<!--/#menubar-s-->

</header>
<!--/.sh-->

<div id="contents">

<div id="main">

<section id="pagetop">

<h2 class="title">News<span>お知らせ</span></h2>
<% @posts.each do |post| %>
<div class="list">
<figure><img src="/sample2.jpg" alt=""></figure>
<h4><%= link_to(post.title, "/posts/#{post.id}") %></h4>
</div>
<% end %>

</section>


<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SITE</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
<!--/#main-->

</div>
<!--/#contents-->

</div>
<!--/#container-->
